<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增员工信息')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-post-add">

        <div class="form-group">
            <label class="col-sm-3 control-label">员工姓名：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="employedName" id="employedName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">显示排序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="employedSort" id="employedSort" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">员工当前工作状态：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="employedState" id="employedState" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                    <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:checked="${dict.default}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
    var prefix = ctx + "ums/employed";

    $("#form-post-add").validate({
        onkeyup: false,
        rules:{
            typeName:{
                remote: {
                    url: prefix + "/checkEmployedNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "employedId" : function() {
                            return $.common.trim($("#employedName").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            typeSort:{
                digits:true
            },
        },
        messages: {
            "employedName": {
                remote: "员工姓名已存在，请加以区分"
            }
        },
        focusCleanup: true
    });

    function submitHandler() { // 提交新增员工信息请求。
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-post-add').serialize());
        }
    }
</script>
</body>
</html>
