<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改用户信息')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-employed-edit" th:object="${employed}">
		<input id="employedId" name="employedId" type="hidden" th:field="*{employedId}"/>

		<div class="form-group">
			<label class="col-sm-3 control-label">员工姓名：</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" name="employedName" id="employedName" th:field="*{employedName}" required>
			</div>
		</div>

<!--		<div class="form-group">-->
<!--			<label class="col-sm-3 control-label">显示排序：</label>-->
<!--			<div class="col-sm-8">-->
<!--				<input class="form-control" type="text" name="employedSort" id="employedSort" th:field="*{employedSort}" required>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="form-group">-->
<!--			<label class="col-sm-3 control-label">员工当前工作状态：</label>-->
<!--			<div class="col-sm-8">-->
<!--				<input class="form-control" type="text" name="employedState" id="employedState" th:field="*{employedState}" required>-->
<!--			</div>-->
<!--		</div>-->
		<div class="form-group">
			<label class="col-sm-3 control-label">状态：</label>
			<div class="col-sm-8">
				<div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
					<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
					<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">备注：</label>
			<div class="col-sm-8">
				<textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
			</div>
		</div>
	</form>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
	var prefix = ctx + "ums/employed";

	$("#form-employed-edit").validate({
		onkeyup: false,
		rules:{
			employedName:{
				remote: {
					url: ctx + "ums/employed/checkEmployedNameUnique",
					type: "post",
					dataType: "json",
					data: {
						"employedId": function() {
							return $("input[name='employedId']").val();
						},
						"employedName" : function() {
							return $.common.trim($("#employedName").val());
						}
					},
					dataFilter: function(data, type) {
						return $.validate.unique(data);
					}
				}
			},

			employedSort:{
				digits:true
			},
		},
		messages: {

			"employedName": {
				remote: "员工名字已经存在"
			}
		},
		focusCleanup: true
	});

	 function submitHandler(){
 	if ($.validate.form()) {
 		$.operate.save(prefix + "/edit", $('#form-employed-edit').serialize());
 	}
 }

</script>
</body>
</html>
